mixin icon(itemName)
    svg(class='__icon-' + itemName)
        use(xlink:href="image/sprite.svg#" + itemName)

mixin linkButton(textBtn,linkBtn)
    a(href=linkBtn).linkButton.fbutton= textBtn

mixin linkButtonThin(textBtn,linkBtn)
    a(href=linkBtn).linkButton.fbutton.thin= textBtn

mixin input(inputText, inputId, inputType)
    div.input_wrap
        p.input__title= inputText
        if inputType=='input'
            input(id=inputId)
        if inputType=='textarea'
            textarea(id=inputId)